<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>
		beautiful and simple website using html only -- fullywrold web tutorials
	</title>
</head>
<body background="1.jpg" >
    <background colour="grey"></background>
	<br />
	<h3 align="center">
		<font face="Lato" size="6">LOGO</font>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<font face="cinzel" size="4">
			<a href="#">HOME</a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="#">VIDEOS</a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="#">PORTFOLIO</a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="#">BLOG</a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="#">CONTACT US</a>
		</font>
	</h3>
	<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
	
	<br />
    <center><img src="{{ user_image }}"></center>
    
	<h3 align="center">
        <form class="" action="data" method="post">
            <input type="file" name="csvfile" value="">
            <input type="submit" name="" value="Submit">
        </form>
	</h3>

</body>
</html>
